@font-face {
	font-family: 'HelveticaNeueCyrMedium';
	src: url('./AssetsBlog/HelveticaNeueCyrMedium.ttf');
	src: local('HelveticaNeueCyrMedium'),
		url('./AssetsBlog/HelveticaNeueCyrMedium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyrBold';
	src: url('./AssetsBlog/HelveticaNeueCyrBold.ttf');
	src: local('HelveticaNeueCyr-Bold'),
		url('./AssetsBlog/HelveticaNeueCyrBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}


body {
    font-family: 'HelveticaNeueCyrMedium', sans-serif;
}