@font-face {
	font-family: 'HelveticaNeueCyrMedium';
	src: url('./assetsBlog/HelveticaNeueCyrMedium.ttf');
	src: local('HelveticaNeueCyrMedium'),
		url('./assetsBlog/HelveticaNeueCyrMedium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyrBold';
	src: url('./assetsBlog/HelveticaNeueCyrBold.ttf');
	src: local('HelveticaNeueCyr-Bold'),
		url('./assetsBlog/HelveticaNeueCyrBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

/* fix horizontal scroll */
body {
		font-family: 'HelveticaNeueCyrMedium', sans-serif;
		padding-left: 100px;
		padding-right: 130px;
		padding-top: 120px;
}
@media (max-width: 765px) {
	body {
		padding-left: 25px;
		padding-right: 30px;
		padding-top: 25px;
	}
}
* {
	box-sizing: border-box;
}